:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

body {
    background-color: var(--very-light-gray);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

p {
    font-weight: 100;
}

.nav {
    width: 100%;
}

.nav .box-nav {
    width: 940px;
    text-align: center;
    margin: 0 auto;
}

.nav h1:first-child{
    font-weight: 200;
}

main {
    margin: -20px 0 0 20px;
}

.cards {
    position: relative;
    box-sizing: border-box;
    width: 940px;
    margin: 10px auto;
    height: 500px;
}

.cards div {
    position:absolute;
    display: inline-block;
    text-align: start;
    padding: 0 40px;
    width: 200px;
    height: 200px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #CCC;
}

.cards div:hover {
    box-shadow: 8px 8px 15px #CCC;
}

.cards .supervision {
    top: 145px;
    left: 18px;
    border-top: 5px solid var(--cyan);
}

.cards .team-builder {
    top: 40px;
    right: 337px;
    border-top: 5px solid var(--red);
}

.cards .karma {
    bottom: 30px;
    left: 324px;
    border-top: 5px solid var(--orange);
}

.cards .calculator{
    right: 30px;
    top: 145px;
    border-top: 5px solid var(--blue);
}

.cards p {
    font-size: 12px;
    margin-top: -15px;
}

.cards img {
    width:50px;
    height:50px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
}

footer {
    width: 100%;
    height: 50px;
}

@media screen and (max-width: 480px) {
    .nav .box-nav {
        width: 90%;
    }

    .box-nav h1 {
        font-size: 24px;
    }

    main {
        margin: 0 0;
    }

    .cards {
        width: auto;
        height: auto;
        margin: 50px auto;
    }

    .cards div {
        position: static;
        display: block;
        margin: 20px auto;
    }

    .cards img { 
        position: relative;
        left: 150px;
    }
}